@import '../../../global.scss';

nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: -7px auto 5px auto;
    .nav-button {
        text-decoration: none;
        font-weight: bold;
        font-size: 17px;
        padding: 3px 5px;
        border-radius: 5px;
        color: $darkBlue;
        transition-duration: 0.5s;
        &:hover {
            background-color: white;
            box-shadow: $button-shaddow;
        }
        &:focus {
            outline: 1px solid $darkBlue;
        }
    }
}